################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DCS.Alternative.Launcher/bin
/DCS.Alternative.Launcher/obj
/packages
/AutoUpdate/obj/Debug
/AutoUpdate/bin/Debug
/AutoUpdate/obj
