<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="73.1.13" targetFramework="net461" />
  <package id="cef.redist.x86" version="73.1.13" targetFramework="net461" />
  <package id="CefSharp.Common" version="73.1.130" targetFramework="net461" />
  <package id="CefSharp.Wpf" version="73.1.130" targetFramework="net461" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net461" />
  <package id="FluentWPF" version="0.7.0" targetFramework="net461" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.9" targetFramework="net461" />
  <package id="KeraLua" version="1.0.14" targetFramework="net461" />
  <package id="LoadingIndicators.WPF" version="0.0.1" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net461" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="NLua" version="1.4.18" targetFramework="net461" />
  <package id="ReactiveProperty" version="5.6.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.1.5" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="WpfScreenHelper" version="0.3.0.0" targetFramework="net461" />
</packages>